/* src/Carousel.css */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px; /* Set max width as needed */
    margin: auto;
  }
  
  .carousel-track-container {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    outline: none;
  }
  
  .nav-button.prev {
    left: 10px;
  }
  
  .nav-button.next {
    right: 10px;
  }
  